body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
h2 {
  color: black;
  font-family: verdana;
}
h3 {
  color: black;
  font-family: verdana;
}
h4 {
  color: black;
  font-family: verdana;
}