
.header-footer {
    background-color:  rgb(60, 92, 235);;
    line-height: 1.65;
    margin-top: 10px;
    display: flex;
    color: white;
}

@media (min-width: 900px) {
    .header-footer {
        display: flex;
    }
}

.nav-text-color {
    color: white;
}

.nav-btn {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.007);
    border-radius: 5px;
}

.nav-text {
    padding: 10px 10px;
    margin: 10px 0px;
}

.left-nav {
    flex: 1;
}

.right-nav {
    flex: 1;
    text-align: right;
    padding: 15px 20px;
}

.button1{
    color:white;
    background-color:  rgb(60, 92, 235);
    border-radius:5px;
    padding:8px;
    border:none;
}

.button2{
    color:white;
    background-color: grey;
    border-radius:5px;
    padding:8px;
    border:none;
}

.button3{
    color:white;
    background-color: rgb(60, 92, 235);
    border-radius:5px;
    border-color: white;
    border: 1px solid;
    height:27px;
}

.button4{
    color:white;
    background-color:  rgb(60, 92, 235);
    border-radius:5px;
    border:none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin:40px auto 0 auto;
}

.container1{
    max-width: 500px;
    margin:40px auto 20px auto;
}

.container2{
    display:flex;
    max-width: 500px;
    margin:40px auto 40px auto;
}

.container31{
    display:flex;
    max-width: 600px;
    margin:0px auto 0px auto;
    justify-content: space-between;
}

.container31 input[type="password"]{
    width:200px;
    height:20px;
}

.container3{
    display:flex;
    max-width: 600px;
    margin:0px auto 0px auto;
    justify-content: space-between;
}

.container3 input[type="text"]{
    width:300px;
    height:20px;
}

.container3 input[type="email"]{
    width:300px;
    height:20px;
}

.container3 input[type="password"]{
    width:300px;
    height:20px;
}

.container3 select{
    width:310px;
    height:26px;
}

.container4{
    padding:5px;
    box-sizing: border-box;
    margin-bottom:10px;
    flex-basis:30%;
}

.container41{
    padding:2px;
    box-sizing: border-box;
    flex-basis:20%;
}

.container41 input[type="text"]{
    width:150px;
    height:20px;

}

.container41 select{
    width:150px;
    height:26px;

}


.container5{
    background-color: rgba(0, 0, 0, 0.089);
    padding:20px 10px 10px 10px;
    margin:10px auto 20px auto;
    max-width: 1000px;
}

.container6{
    display:block;
    text-align:center;
}

.container7{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.089);
    margin:20px 80px 0px 80px;
    
}

.container71{
    margin:20px 80px 0px 80px;
}

.container8{
    display:flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.089);
    max-width: 1100px;
    margin:10px auto 0 auto;
}

.container9{
    max-width: 1100px;
    margin:20px auto 0 auto;
    display:flex;
    justify-content: space-evenly;
}

.container10{
    margin:20px 80px 0px 80px;
}

.container11{
    margin: 40px auto 0 auto;
    max-width: 1000px;
}

.container12{
    max-width: 1100px;
    margin:30px auto auto auto;
}

.container13{
    max-width: 1100px;
    margin:10px auto auto auto;
}

.editproject{
    flex:1;
}

.editproject input[type="text"]{
    width:500px;
    height:20px;
}

.editproject textarea{
    width:500px;
    height:200px;
}

.editproject hr{
    width:100%;
 
}

.fileDisplay table{
    border: 1px solid #dddddd;
    text-align:left;
    width:100%;
    border-radius:5px;
}

.fileDisplay td{
    text-align:center;
}

.tableRow{
   background-color: rgba(0, 0, 0, 0.089);
}

.formContainer{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}

.formContainer input[type="text"]{
    width:500px;
    height:20px;
}

.formContainer input[type="email"]{
    width:500px;
    height:20px;
}

.formContainer input[type="password"]{
    width:500px;
    height:20px;
}

.formContainer textarea{
    width:500px;
    height:250px;
}

.formContainer select{
    width:510px;
    height:25px;
}

.searchInput{
    width:750px;
    height:20px;
}

.searchDropBox{
    width:100px;
    height:25px;
}

.profile{
    flex: 1;
}

.Intro{
    background-color: rgba(0, 0, 0, 0.089);
    padding:40px 20px 70px 20px;
}


.title{
    color:blue;
}

table{
    border-collapse: collapse;
}

tr{
    border:solid rgba(0, 0, 0, 0.11);
    border-width: 1px 0;
}

.Project-Info{
    max-width: 1000px;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.project{
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex-basis: 20%;
    border:solid;
    border-width: medium medium medium medium;
    border-color: rgba(0, 0, 0, 0.062);
}

footer{
    background-color: rgba(0, 0, 0, 0.075);
    height:35px;
}

.foot{
    padding: 8px;
    float:right;
}